body {
  font: 14px Arial;
}
.section-one {
  justify-content: space-between;
  width: 20%;
  margin: 70px 20px;
}

.repeating-form {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
}
.autocomplete {
  display: inline-block;
}

h4 {
  margin: 0px;
  font-weight: bold;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
}

input[type="date"] {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

input[type="text"] {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

.repeating-form input[type="text"] {
  margin-right: -20px;
}

.btn-add {
  background-color: rgb(11, 177, 80);
  color: white;
  width: 10%;
  padding: 10px 3px;
  border: none;
}

.btn-rm {
  border: none;
  width: 10%;
  padding: 10px 3px;
  background-color: tomato;
  color: white;
}
