body {
  font: 16px Arial;
}

.section-one {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  margin: auto;
}
.autocomplete {
  display: inline-block;
}

h4 {
  margin: 0px;
  font-weight: 300;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type="date"] {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

input[type="text"] {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  border-radius: 5px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
